<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.help.help.mapper.HelpTeacherHistoryMapper">

    <resultMap type="com.ruoyi.help.api.domain.HelpTeacherHistory" id="HelpTeacherHistoryResult">
    <result property="id" column="id"/>
    <result property="oldId" column="old_id"/>
    <result property="newId" column="new_id"/>
    <result property="helpId" column="help_id"/>
    <result property="note" column="note"/>
    <result property="changeTime" column="change_time"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
